[Desktop Entry]
Name=TurtleArt
GenericName=Sugar TurtleBlocks activity
Exec=turtleart
Icon=turtleart
Type=Application
Comment=A Logo programming environment
Terminal=false
StartupNotify=true
Categories=Education;Development;
